{% extends 'category-layout.html' %}

{% block content %}

<!-- Use the title we pass in main.py to each category route -->
<!-- Use the super block to include this and more, or just override it. -->
<div class="{{ title }}-intro">

    <!-- Title of section (ex. Data Science) -->

    <h1>{{ title }}</h1>

    <!-- Responsive, representative image (ex. Linear Regression image) -->

    {% if image_route %}
    <img src="../{{ image_route }}" alt="{{ title }} image" class="img-responsive">
    {% else %}
    {% endif%}

    <!-- Description of section -->
    <p>{{ description }}</p><br>
</div>

<div class="{{ title }}-projects">
    <!-- Loop through category files and display a header linking to their page -->
    {% for file in category_files %}
    <!-- Only display published files or ones without the attribute by default (auto-publish) -->
    {% if 'publish' in note_dict.keys() or note_dict[file].publish == True %}

    <!-- Check if link is in file meta -->
    {% if note_dict[file].link %}
    <h2 class="file-title"><a href="{{ note_dict[file].link }}"
            class="file-link">{{ note_dict[file].title }}</a></h2>
    {% endif %}
    <!-- Display a description of the file -->
    <p class="file-description">{{ note_dict[file].description }}</p>

    <!-- Display the topics covered if that attribute exists -->

    {% if note_dict[file].topics %}

    <p class="file-topics"><b>Topics covered:</b> {{ note_dict[file].topics }}</p>
    <p class="file-sources">Sources: {{ note_dict[file].sources | safe }}</p>

    {% endif %}
    <!-- Display an image -->
    <img src="{{ note_dict[file].image }}" alt="">
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}