@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

$dark-color: rgb(71, 64, 78);
$link-color: rgb(177, 127, 127);
$link-hover: rgb(24%, 39.8%, 49.1%);
// Entire Page Styles
body {
    padding: 7vh;
}
div.col-3.sidebar {
    padding-top: 4vh;
    font-size: 2rem; 
}

div.col-9.content {
    padding-top: 1vh;
}

ol.toc-list {
    font-size: x-small;
    position: -webkit-sticky;
}

h1,
h2,
h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// Sticky Sidebar styling

blockquote {
    margin: 50px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid $dark-color;
    line-height: 1.6;
    position: relative;
    background: #ededed;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: $dark-color;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: "";
}

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}

// Echo out a label for the example
.bs-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

.panel-heading {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.42857143;
    box-sizing: border-box;
    height: 3vh;
    padding-bottom: 5vw;
    border-bottom: 0.2vh solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    padding: 15px;
}
div.panel-heading > h5 {
    padding-left: 1vw;
    padding-top: 1vh;
    font-size: 1.5rem;
}
img {
    width: 100%;
    height: auto;
}

.img-row img {
    height: 30vh;
}

a.is-active-link::before {
    background-color: $dark-color;
}

// Make TOC Stick

nav[data-toggle="toc"] {
    top: 42px;
}

/* PICK ONE */
/* don't expand nested items, which pushes down the rest of the page when navigating */
nav[data-toggle="toc"] .nav .active .nav {
    display: none;
}

.keyword1 {
    color: rgb(194, 92, 92);
    font-weight: bold;
}

.keyword2 {
    color: rgb(46, 124, 170);
    font-weight: bold;
}

.keyword3 {
    color: rgb(112, 153, 37);
    font-weight: bold;
}

/* Effect 3: bottom line slides/fades in */
a {
    color: $link-color;
}

a:hover {
    text-decoration: none;
    color: $dark-color;
    font-weight: bold;
}

.nav-link {
    color: $dark-color;
    text-shadow: .2px .2px $dark-color;
}

li.toc-list-item{
    font-size: 1rem;
    padding-top: .4rem;
}


